<form action="/game" method ="post">
  <input type="text" name="guess" value="" placeholder="type here">
  <button type="submit" name="button">Take a guess</button>
</form>
<span style="font-size: 2em; letter-spacing: 10px;">{{word}}</span>


<div class="wrong">
  <br>
  <br>
  You have guessed :
  {{#wrong}}
  "{{.}}"
{{/wrong}} and you have {{req.session.guesses}} guesses left.
</div>
{{#wordArray}}
{{.}}
{{/wordArray}}
