<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <h1>Word Game</h1>
      <br>
    </nav>
    {{{yield}}}
    <footer>
      
    </footer>
  </body>
</html>
